<div class="login-form">
  <h1>Login</h1>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="email" required />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required />
    </div>
    <div>
      <button type="button" (click)="reset()">Reset</button>
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
</div>
